################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Macros/.vs/Macros
/Macros/Application/x64
/Macros/x64/Release
